In [1]:
from error_propagation import *
import MagmaPandas as mp

print(mp.configuration)

################ MagmaPandas ################
#############################################
General settings_____________________________
fO2 buffer................................QFM
Î” buffer....................................1
Melt Fe3+/Fe2+........................borisov
Kd Fe-Mg ol-melt.......................toplis
Melt thermometer...............putirka2008_15
Volatile solubility model......IaconoMarziano
Volatile species........................mixed

In [2]:
melts_file = inclusions_file = "/Users/thomas/Dropbox/research/Azores/melt_inclusions/data_processing/5.data_extrapolation/outputs/melt_reconstructed_total.xlsx"

In [3]:
melts = mp.Melt(pd.read_excel(
        inclusions_file, sheet_name="IaconoMarziano", index_col=0
    ), units="wt. %", datatype="oxide")

In [9]:
linear_regression_coefficients_MC(melts["MgO"], melts["Al2O3"], n=10)

      slope  intercept
0 -0.838379  20.953125
1 -0.836426  20.953125
2 -0.932617  21.437500
3 -0.842285  20.968750
4 -0.718750  20.359375
5 -0.746094  20.484375
6 -0.799805  20.765625
7 -0.828613  20.906250
8 -0.878418  21.156250
9 -0.715820  20.343750

In [7]:
Fe3Fe2_CressCarmichael_error(melts, T_K=1400, P_bar=4e3)

name
PI032-04-01    0.041333
PI032-04-02    0.042766
PI041-02-02    0.033856
PI041-03-01    0.046228
PI041-03-03    0.047235
                 ...
PI085-04-05    0.040499
PI097-02-04    0.035928
PI114-01-04    0.032995
PI114-04-04    0.038527
PI114-05-04    0.029608
Length: 185, dtype: float64

In [ ]:
mp.configuration.Kd_model = "toplis"
get_KD_error(melts)

In [ ]:
mp.configuration.Fe3Fe2_model = "borisov"
get_Fe3Fe2_error(melts, T_K=1500, P_bar=3e3)